body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 5px grey, -5px -5px 5px grey;
  border-radius: 20px;
  color: white;
  background: linear-gradient(rgba(236, 0, 0, 0.5), rgba(46, 43, 43, 0.5));
}
.container h2 {
  text-align: center;
}
.images {
  display: flex;
  flex-direction: row;
}
.images img {
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey, -5px -5px 5px grey;
  cursor: pointer;
  margin: 20px;
}
.images p {
  display: none;
}
.images img:hover {
  box-shadow: none;
  transform: scale(1.2);
  border: 5px solid red;
}
.images .one .text {
  height: 0;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.images .one:hover .text {
  opacity: 1;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  font-weight: 600;
  font-style: 30px;
}
.images .two .text {
  height: 0;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.images .two:hover .text {
  opacity: 1;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  font-weight: 600;
  font-style: 30px;
}
.images .three .text {
  height: 0;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.images .three:hover .text {
  opacity: 1;
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  font-weight: 600;
  font-style: 30px;
}

.choice h3:nth-child(1) {
  margin-right: 20px;
}
.choice span {
  font-weight: 500;
  color: yellow;
}
.result {
  font-size: 28px;
  color: yellowgreen;
}
.points h3:nth-child(1) {
  margin-right: 15px;
}
.points span {
  font-weight: 500;
  color: yellow;
}

@media only screen and (max-width: 480px) {
  [class*="container"] {
    width: 100vw;
    height: 100vh;
  }
 
}
@media only screen and (max-width: 700px) {
  h1 {
    width: 100vw;
   
  }
  [class*="container"] {
    width: 100vw;
   
  }


}